<div class="relative bg-white">
  <div class="mx-auto max-w-xl px-6">
    <div class="flex items-center justify-between border-b-2 border-gray-100 py-6">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
      </div>
      <nav class="space-x-16">
        <a href="#" class="text-base font-bold text-gray-700 hover:text-gray-900">To do</a>
        <a href="#" class="text-base font-bold text-gray-700 hover:text-gray-900">in Progress</a>
        <a href="#" class="text-base font-bold text-gray-700 hover:text-gray-900">Done</a>
      </nav>
    </div>
  </div>
</div>
