<!--<div class="relative bg-white">-->
<!--  <div class="max-w-xl px-6">-->
<!--    <div class="flex border-b-2 border-gray-100 py-6">-->
<!--      <div class="flex justify-start lg:w-0 lg:flex-1">-->
<!--        <a href="#">-->
<!--          <img class="h-8 sm:h-10" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">-->
<!--        </a>-->
<!--      </div>-->
<!--&lt;!&ndash;      <nav class="space-x-16">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#" class="text-base font-bold text-gray-700 hover:text-gray-900">To do</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#" class="text-base font-bold text-gray-700 hover:text-gray-900">in Progress</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#" class="text-base font-bold text-gray-700 hover:text-gray-900">Done</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </nav>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
